<ion-header>
  <ion-toolbar>
    <ion-title>Añadir materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="materiaForm" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Materia</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Creditos</ion-label>
        <ion-input formControlName="credits" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Horario</ion-label>
        <ion-input formControlName="hour" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Día</ion-label>
        <ion-input formControlName="day" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nota</ion-label>
        <ion-input formControlName="note" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Añadir</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
