<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Materias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      Materias
    </ion-list-header>
    <ion-item *ngFor="let materia of Materias">
      <ion-label>
        <div class="subject">
        <h2>
          <ion-icon name="clipboard-outline" color="dark"></ion-icon> {{materia.name}}
        </h2>
        </div>
        <br/>
        <div class="padre">

            <div class="hijo1">
              <p style="font-size: 15px;">
                <ion-icon name="today-outline"></ion-icon> {{materia.day}}
              </p>
              <p style="font-size: 15px;">
                <ion-icon name="time-outline"></ion-icon> {{materia.hour}}
              </p>
              <p style="font-size: 15px;">
                <ion-icon name="trending-up-outline"></ion-icon> {{materia.credits}}
              </p>
            </div>
  
            <div class="hijo2">                 
            <p style="font-size: 31px;">
              <ion-icon name="checkbox-outline" color="success"></ion-icon> {{materia.note}}
            </p>
            </div>

        </div>

        <div style="text-align: right">
          <button ion-button clear [routerLink]="['/edit-materia/', materia.$key]">
            <ion-icon name="create-outline" color="primary" style="zoom:2.0"></ion-icon>
          </button>
          <button ion-button clear (click)="deleteMateria(materia.$key)">
            <ion-icon name="trash" color="danger" style="zoom:2.0"></ion-icon>
          </button>
        </div>

      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
